/*valine 评论系统样式*/
.v * {
    line-height: 1 !important;
    color: #eee !important;
}

.v .vwrap .vheader .vinput {
    border-bottom: 1px solid #000000 !important;
}

.v .vbtn {
    border: 1px solid #333333 !important;
    background: #000000 !important;
}

.v .vlist .vcard .vhead .vsys {
    background: #000000 !important;
}

.v .vwrap{
  border: 2px solid black !important;
}

.v .vlist .vcard .vquote {
    border-left: 1px solid #000000 !important;
}

.v .vlist .vcard .vh {
    border-bottom: 1px solid #333 !important;
}

/*设置评论头像旋转*/
.v .vlist .vcard .vimg:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -transform: rotate(360deg);
}

/**/