#scroll-top-button {
    background: #222430;
}

#scroll-top-button i {
    color: #eee;
}

.v .vcards .vcard .vh .vmeta .vat {
    color: #ddd;
}

.v .vcards .vcard .vh {
    border-bottom: 1px dashed #ffffff00 !important;
}

.v .vcards .vcard .vimg {
    border: 1px solid #fff0 !important;
}

.v .vcards .vcard .vhead .vnick {
    color: #3c4858 !important;
}

.v a {
    color: #3c4858 !important;
}

.v * {
    color: #3c4858 !important;
}

.v .vbtn {
    color: #313131;
    border-radius: .3em;
}

.toc-header, .toc-header > i {
    color: #fffe;
}

.tocbot-link {
    color: #fffe;
}

.tocbot-active-link {
    font-weight: bold;
    color: #55967e;
}

/**/