/*valine 评论系统样式*/
.v * {
    line-height: 1 !important;
    color: #eee !important;
}

.v .vwrap .vheader .vinput {
    border-bottom: 1px solid #000000 !important;
}

.v .vbtn {
    border: 1px solid #333333 !important;
    background: #000000 !important;
}

.v .vlist .vcard .vhead .vsys {
    background: #000000 !important;
}

.v .vwrap{
    border: 2px solid black !important;
}

.v .vlist .vcard .vquote {
    border-left: 1px solid #000000 !important;
}

.v .vlist .vcard .vh {
    border-bottom: 1px solid #333 !important;
}

.v .vlist .vcard .vimg {
    border: 1px solid #252525 !important;
}

/*设置评论头像旋转*/
.v .vlist .vcard .vimg:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -transform: rotate(360deg);
}

.markdown-body {
    color: #eee !important;
}

.note-warning {
    background-color: #444 !important;
    border-color: #444 !important;
}

.markdown-body hr {
    background-color: #3f3f42 !important;
}

.pagination a:hover, .pagination .current {
    background-color: #980101 !important;
}

.markdown-body table td, .markdown-body table th {
    border: 1px solid #545454 !important;
    background-color: #2d2d2d !important;
}

.markdown-body a {
    color: #6699cc !important;
}

.scroll-top-arrow {
    color: #222222 !important;
}

#scroll-top-button {
    background: #69c !important;
}

.markdown-body code {
    background-color: #2d2d2d !important;
}

code {
    color: #ff67ad !important;
}

.list-group-item {
    background-color: #333 !important;
}

.list-group-item-action {
    color: #eee !important;
}

.markdown-body blockquote {
    border-left: .25em solid #dfe2e5;
    color: #ccc !important;
    background-color: #555 !important;
}

}
/**/